.top {
    background: black;
    text-align: center

    
}

.all_watches_container{

  
}


header{
    text-align: center
   
}

h3 {
    text-align: center

}

h2{
    text-align: center
   
}

p{
    text-align: left
    
}

body{
   background: black;
   color: whitesmoke;
}

img{
  margin-left: auto;
}